html {
    font-size: 16px;
}

:root {
    --font-family: Arial, Helvetica, sans-serif;
    --color-link: white;
}

body {
    background-image: url("./fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    /*background: linear-gradient(to right, rgb(172, 235, 233), rgb(255, 255, 255));*/
}



/* Header */
header {
    display: flex;

}

.menu-icon,
.menu-toggle {
    display: none;
}

.icono {
    display: flex;
    width: 60px;
    height: 60px;
}

.menu {
    display: none;
    width: 60px;
    height: 60px;
}

.nav-indice {
    display: flex;
    font-family: var(--font-family);
    padding: 0;
    justify-content: space-evenly;
    align-content: left;
    flex-wrap: wrap;
    font-size: 20px;
    color: white;
}

.nav-indice ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

.nav-indice a {
    color: inherit;
    text-decoration: none;
    padding: 5px 10px;
}

/* Main*/
#foto-perfil {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#titulo {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-family: var(--font-family);
    font-size: 80px;
    color: white;
}

.contenido {
    text-align: justify;
    font-family: var(--font-family);
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 20px;
}

#sobre-mi {
    text-align: left;
    font-size: 35px;
}

a[href="https://github.com/dav1ch1n/ProyectoJuego.git"] {
    color: var(--color-link);
}

a[href="https://github.com/dav1ch1n/Portfolio.git"] {
    color: var(--color-link);
}

.proyectos {
    text-align: justify;
    font-family: var(--font-family);
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 20px;

}

.proyectos ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 25%;
}

#contacto {
    text-align: justify;
    justify-content: center;
    font-family: var(--font-family);
    margin-left: 15%;
    margin-right: 15%;
    font-size: 20px;
}

input {
    margin-bottom: 10%;
    margin: auto;
    justify-content: justify;
    text-align: justify;
    align-content: justify;
    width: 500px;
    max-width: 80%;
}

textarea {
    justify-content: justify;
    margin-bottom: 10%;
    margin: auto;
    text-align: justify;
    width: 500px;
    max-width: 80%;

}

/*Pie de página*/
.Pie-de-pagina {
    display: flex;
    font-family: var(--font-family);
    padding: 0;
    justify-content: left;
    align-content: center;
    font-size: 20px;
}

.redes ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

.redes a {
    color: inherit;
    text-decoration: none;
    padding: 5px 10px;
}

@media screen and (max-width: 600px) {

    body {
        background-image: url("./fondo.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        /*background: linear-gradient(to right, rgb(172, 235, 233), rgb(255, 255, 255));*/
    }

    .indice {
        flex-direction: column;
        padding: 0;
    }

    /* Contenedor de la barra superior (Logo y Botón) */
    .header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 20px;
        /* Devuelve el padding aquí para separar de los bordes */
    }

    .icono {
        display: none;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .menu-img {
        width: 60px;
        height: 60px;
        display: block;
    }

    .nav-indice {
        display: block;
        height: 0;
        overflow: hidden;
        width: 100%;
        background-color: #555;
        transition: height 0.3s ease-out;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .nav-indice ul {
        margin: 0;
        text-align: center;
        border-top: 1px solid #777;
    }

    .nav-indice a {
        display: block;
        padding: 15px;
    }

    .menu-toggle:checked~.nav-indice {
        height: 250px;
    }

    .proyectos ul {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .proyectos {
        margin-left: 5%;
        margin-right: 5%;
    }

    .proyectos {
        margin-left: 5%;
        margin-right: 5%;
    }
}