body{
    background: linear-gradient(to right, rgb(172, 235, 233), rgb(255,255,255));
}
#foto-perfil{
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 200px; 
    border-radius: 50%; 
}
.indice{
    display: flex;
    style: none; 
    padding: 0; 
    margin: 0;
    justify-content: left; 
    font-size: 35px; 
}
.titulo{
    text-align: center; 
    font-family: 'Arial Black', Gadget, sans-serif; 
    font-size: 80px; 
    color: rgb(0, 0, 0); 
    margin-top: 0%;
}